h1, p {
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* COLORS */
.vibeBlue {
  color: #276DF8;
}


/* Useful global classes  */
.center {
  text-align: center;
}

.boxShadow {
  box-shadow: 0px 0px 4px -1px rgb(0 0 0 / 30%);
}

